body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
}

header {
    background-color: #559955;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #559955;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
    text-align: left;
    font-size: 20px;
}

.project {
    display: flex;
    margin-bottom: 20px;
}

.project img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.project div {
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    width: 50%;
    text-align: left;
}

.content img {
    max-width: 100%;
    height:auto;
}

.collage div {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.image2 img {
    width: calc(50% - 4px);
    height: auto;
    border: 2px solid #000;
}