body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

header {
    background-color: #559955;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: white;
}

nav a:active {
    color: #ccc;
}

a:link {
    color: #cfc;
}

a:visited {
    color: #cfc;
}

a:hover {
    color: white;
}

a:active {
    color: #ccc;
}

footer {
    background-color: #559955;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.centered {
    text-align: center;
    justify-content: center;
}

main {
    padding: 20px;
    text-align: left;
    font-size: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

.project {
    position: relative;
    width: 300px;
    height: 300px;
}

.project img {
    width: 100%;
    height: 100%;
    display: block;
}

.project:hover .overlay {
    opacity: 1;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    width: 50%;
    text-align: left;
}

.content img {
    max-width: 100%;
    height: auto;
}

.collage div {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.image2x1 img {
    width: calc(50% - 4px);
    height: auto;
    border: 2px solid #000;
}

.image3x1 img {
    width: calc(33.33% - 6px);
    height: auto;
    border: 2px solid #000;
}